body{
  background-color: #fcfcfc;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:4em;
}




.tic-tac-toe{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  height:40em;
  width:40em;
  
  @media(max-width: 600px){
    width:20em;
  }
  @media(max-height: 1000px){
    height:20em;
    width:20em;
  }
}

#top0,#top1,#top2,#mid0,#mid1,#mid2{
  border-bottom: 1px solid black;
}
#top1,#mid1,#bot1{
  border-right:1px solid #000;
  border-left:1px solid #000;
}

#top0,#top1,#top2,#mid0,#mid1,#mid2,#bot0,#bot1,#bot2{
  font-size:3em;
  height:5em;
  display:flex;
  justify-content: center;
  align-items: center;
  @media(max-height: 1000px){
    height:2.2em;
    
  }
  @media(max-width: 600px){
    height:2.2em;
    @media(min-height:1000px){
      height:5em;
    }
  }

  &:hover{
    background-color: rgba(#fcfc, 0.2);
  }
}

button{
  padding-left: 1rem;
  padding-right:1rem;
  background-color: rgba(#fcfc, 0.6);
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: 1.5rem;
  margin:5em;
  @media(max-height: 1000px){
    margin:.5em;
    
  }

  &:hover{
    background-color: #fcfc;
    cursor: pointer;
  }
}