*{
  margin:0;
  padding:0;
}
input{
  padding:.4rem;
  font-size:1.1rem;
}
label{
  font-weight:500;
  font-size:1em;
  margin-right:.4rem;
}

body{
  background-color: #fcfcfc;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:4em;
}
header{
  margin-top: 1.5rem;
}

.game-playing{
  display:flex;
  justify-content: center;
  margin:20px;
}

.before-game{
  display:grid;
  column-gap:10rem;
  row-gap:2em;
  
 
  
  grid-auto-flow: column;
  justify-content:center;
  align-items: center;
  margin-left:auto;
  padding:2rem;

  border:1px solid black;
   grid-template-areas: 
   "p1 . img1"
   "p2 . img2"
   "play play play"
   ;
   @media(max-width:650px){
     grid-template-areas: 
     ". p1 ."
     ".  img1 ."
     ". p2 ."
     ". img2 ."
     "play play play"
   }

}
.select-player{
  display:flex;
  flex-direction: row;
  gap:2rem;
  margin-left:-.5em;
  justify-content: center;
  align-items: center;

  .player-one, .player-two{
    display:flex;
    flex-direction:column;
    

  }

}
#image1{
  grid-area: img1;
}
#image2{
  grid-area: img2;
}
#p1{
  grid-area:p1;
}
#p2{
  grid-area:p2;
}
#form1{
  grid-area:form1;
}
#form2{
  grid-area:form2;
}
#play-button{
  grid-area:play;
}
#robot1,#robot2,#human1,#human2{
  border-radius: 50px;
  padding:.3rem;
}

.tic-tac-toe{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  height:40em;
  width:40em;
  
  @media(max-width: 600px){
    width:20em;
  }
  @media(max-height: 1000px){
    height:20em;
    width:20em;
  }
}

#top0,#top1,#top2,#mid0,#mid1,#mid2{
  border-bottom: 1px solid black;
}
#top1,#mid1,#bot1{
  border-right:1px solid #000;
  border-left:1px solid #000;
}

#top0,#top1,#top2,#mid0,#mid1,#mid2,#bot0,#bot1,#bot2{
  font-size:3em;
  height:5em;
  display:flex;
  justify-content: center;
  align-items: center;
  @media(max-height: 1000px){
    height:2.2em;
    
  }
  @media(max-width: 600px){
    height:2.2em;
    @media(min-height:1000px){
      height:5em;
    }
  }

  &:hover{
    background-color: rgba(#fcfc, 0.2);
  }
}

button{
  padding-left: 1rem;
  padding-right:1rem;
  background-color: rgba(#fcfc, 0.6);
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: 1.5rem;
  margin:5em;
  @media(max-height: 1000px){
    margin:.5em;
    
  }

  &:hover{
    background-color: #fcfc;
    cursor: pointer;
  }
  #reset{
    
    margin:5em;
    @media(max-height: 1000px){
    margin:.5em;
  }
   
 }
}

#game-over-prompt{
  display:none;
  justify-content: space-around;
  flex-direction:column;
  align-items: center;

  position:absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width:30rem;
  height:40rem;
  top:15%;
  background-color: rgba($color: #FF9671, $alpha: .8);

  @media(max-width:600px){
    width:20rem;
  }
  @media(max-height:1000px){
    height:20rem;
  }
  button{
    margin:0;
    padding:.5em;
    background-color: #fcfc;

    &:hover{
      transform: scale(1.05);
    }
  }
  h1{
    background-color: rgba($color: #fcfc, $alpha: 1);
    padding:1em;
  }
}